@import url(//fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=latin-ext,cyrillic);
body {
    margin:  0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}
img { border: none; }

.ctrl {
    font-size: 150%;
    text-decoration: none;
    padding: 0.25em;
}
.ctrl *  { font-size: inherit; }
.ctrl.s  { font-size: 100%; }
.ctrl.xs { font-size:  75%; }
a.ctrl         { color: #3388cc; cursor: pointer; }
a.ctrl:visited { color: #3388cc; }
a.ctrl:hover   { color: #005599; }
a.ctrl:active  { color: #005599; }
a.ctrl.star:visited { color: gold; }

table.list { border-collapse: collapse; }
table.list th { cursor: default; }
table.list td, table.list th {
    border-width:       1px;
    border-color:       black;
    border-right-style: solid;
    border-left-style:  solid;
    padding-right:      10px;
    padding-left:       10px;
}
table.list td { border-top-style: dotted; }
table.list th { border-bottom-style: solid; }
table.list td.r { text-align:  right; }
table.list td.c { text-align: center; }
table.list tr:nth-child(2n)   { background: rgba(0, 0, 0, 0.05); }
table.list tr:nth-child(2n+1) { background: inherit; }
table.list tr.disabled:nth-child(2n)   { background: rgba(255, 0, 0, 0.15); }
table.list tr.disabled:nth-child(2n+1) { background: rgba(255, 0, 0, 0.30); }
table.list tr.disabled   { color: gray; }
table.list tr.disabled a { color: gray; }

.item .item-container {
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 4px 4px 4px 4px;
    margin:  1px;
    padding: 3px;
    overflow: hidden;
}
.item .toolbar { max-width: 100%; }
.item .photo a {
    display:    inline-block;
    min-width:  120px;
    min-height: 120px;
}
.item .photo { position: relative; text-align: center; }
.item.expanded .photo { z-index: 2; }
.item         .photo a::before { display: none; }
.item.loading .photo a::before {
    display: inline-block;
    content: '';
    position: absolute;
    top:  0;
    left: 0;
    background-image: url('img/loader.gif');
    background-position: center center;
    background-repeat: no-repeat;
    width:  100%;
    height: 100%;
}
.item .photo .zoom, .item .photo .browser {
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    background-size: 32px 32px;
    background-repeat: no-repeat;
}
.item:not(.zoomed) .photo:hover .zoom { opacity: 0.5; }
.item .photo .zoom {
    bottom: 0;
    right:  0;
    width:  38px;
    height: 38px;
    background-image: url('img/expand.svg');
    background-position: center center;
}
.item:not(.expanded) .photo .browser { pointer-events: none; }
.item .photo .browser:hover { opacity: 0.4; }
.item .photo .browser {
    top: 0;
    width:  25%;
    height: 100%;
}
.item .photo .browser.prev {
    left: 0;
    background-image: url('img/prev.svg');
    background-position: center left;
}
.item .photo .browser.next {
    right: 0;
    background-image: url('img/next.svg');
    background-position: center right;
}

table.layout { width: 100%; }
table.layout tr.s  { white-space: nowrap; }
table.layout td.t  { width: 1px; white-space: nowrap; }
table.layout td.r  { text-align:  right; }
table.layout td.c  { text-align: center; }
table.layout td.vc { vertical-align: middle; }
table.layout, table.layout tr, table.layout td {
    border-spacing: 0;
    border-width:   0;
    padding:        0;
    margin:         0;
}

/* menu */
.menu {
    position: fixed;
    top:      0;
    right:    0;
    width:    60px;
    height:   100%;
    z-index:  999;
    pointer-events: none;
    transition: opacity 0.25s;
    opacity: 0.3;
}
.menu.open {
    background: black;
    pointer-events: all;
    opacity: 0.9;
}
/* menu button */
.menu .b {
    position:   relative;
    display:    block;
    width:      60px;
    height:     60px;
    cursor:     pointer;
    background: black;
    transition: background 0.25s;
    line-height: 60px;
    text-decoration: none;
}
/* menu switcher */
.menu      .b.switch {
    z-index: 2;
    pointer-events: all;
}
.menu      .b.switch:hover {
    background: #3388cc;
}
.menu.open .b.switch {
    border-bottom: 1px solid #353535;
    background: #3388cc;
}
.menu      .b.switch .icon {
    position: absolute;
    top:    50%;
    right:  50%;
    margin: -8px -8px 0 0;
    width:  16px;
    height: 16px;
    background-image: url(img/menu.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    transition: transform 0.25s;
    transform:  rotate(0deg);
}
.menu.open .b.switch .icon {
    background-position: 0 -16px;
    transform:  rotate(-180deg);
}
/* menu button drawer */
.menu      .drawer {
    z-index: 1;
    /* number of buttons * (height+border) + border */
    transform:  translateY(-367px);
    transition: transform 0.5s;
}
.menu.open .drawer {
    transform:  translateY(0px);
}
/* menu button in drawer */
.menu      .drawer .b {
    border-bottom: 1px solid #353535;
    color: white;
    font-size: 25px;
    text-align: center;
}
.menu      .drawer .b.on {
    background: #005599;
}

/* signature */
.signature { font-size: 66%; text-align: right; text-decoration: none; color: #CBCBCB; }
.signature a { color: inherit; text-decoration: none; }
.signature a:visited { color: inherit; }
